body{
	font-size: 14px;
	line-height: 22px;
	height: 100%;
	font: 12px/100% '微软雅黑', Verdana, Geneva, sans-serif;
	color: #666;
	-webkit-font-smoothing: antialiased;
}

.clear {
	clear: both;
}

.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}

.header {
	width: 100%;
	height: 180px;
	/*background-color: #2580D5;*/
	background-color: #2682D5;
	border-bottom: 1px solid #9FC2DC;
}

.top {
	/*width: 100%;*/
	height: 180px;
	position: relative;
	background: url(../image/header.png) no-repeat;
}

.info {
	position: absolute;
	top: 0;
	right: 0;

}

.info .mobile {
	float:left;
	margin-right: 10px;
	vertical-align: middle;
	line-height: 20px;
	height: 20px;
	font-size: 14px;
	color: #FAFAFA;
}

.info .weibo {
	float:left;
	margin-left: 15px;
	vertical-align: middle;
	line-height: 20px;
	height: 20px;
	font-size: 14px;
}

.info .weibo a, .info .weibo a:hover {
	color:#FAFAFA;
}

.info img {
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.logo {
	float:left;
	/*width: 150px;*/
	height: 100px;
	line-height: 100px;
	margin-top: 55px;
	vertical-align: middle;
	/*background: url(../image/logo.png) no-repeat;*/
}

.logo img {
	width: 150px;
	height: 100px;
}
.logo span {
	font-size: 30px;
	line-height: 100px;
	height: 100px;
	color: #006E98;
}

.banner {
	float:right;
	margin-right:20px;
	margin-top: 85px;
	line-height: 90px;
	height: 90px;
}
.banner .nav > li {
	margin-left: 20px;
}
.banner .nav > li > a {
  margin: auto;
  width: 90px;
  height: 90px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  padding:0;
  /*padding: 30px 0 32px;*/
  display: block;
  position: relative;
  z-index: 20;
  /*color: #006E98;*/
  color: #FFFFFF;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
}

.banner .nav > li.active > a {
	color: #FFFFFF;
}
.nav-pills>li>a:hover {
	color: #006E98;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: #0177A3;
}

.wrapper {
	
}


.flip {
	/*height: 500px;*/
	background-color: #0278BB;
	padding: 0;
}

.flip .carousel-inner img {
	margin: auto;
}

.inner-content {
	margin-top: 35px;
}

.left-content {
	float: left;	
	padding: 0;

}

/*.left-content .login {
	margin-top: 30px;
	padding: 0;
}*/

.left-content h3 small {
	color: #2580D5;
}

.left-content .contact-us {
	margin-top: 30px;
}

.left-content .contact-us p {
	height: 25px;
	line-height: 25px;
}
.left-content .contact-us p span{
	margin-left: 20px;
}

.right-content {
	float: left;
	border-left: 1px solid #EAEAEA;
	padding-left: 30px;
	/*margin-top: 30px;*/
	/*padding: 30px 15px;*/
}
.right-content h3 small {
	color: #2580D5;
}
.right-content .company-profile {
	margin-top: 30px;
}

.success-case {
	margin-top: 30px;
	padding: 30px 0 50px 0;
	background-color: #F4F4F4;
}

.success-case h3 small {
	color: #2580D5;
}

.success-case img, .success-case img:hover {
	border: 1px solid #BDBDBD;
	cursor: pointer;
}

/*.case {
	padding: 20px 0 50px 0;
	font-size: 35px;
}*/

.shadow {
    -moz-box-shadow: 3px 3px 4px #555;
    -webkit-box-shadow: 3px 3px 4px #555;
    box-shadow: 3px 3px 4px #555;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555)";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#555555');
}

.footer {
/*	margin-top: 35px;*/
	background-color: #474644;
}

.inner-footer {
	/*margin: 50px 0;*/
	/*height: 300px;*/
	padding: 100px 0;
}

.footer-left {
	height: 100%;
}

.footer-left .logo {
	float: left;
	margin-top: 0;
}

.footer-left .name {
	float:left;
	font-size: 25px;
	line-height: 100px;
}

.footer-left .intro {
	margin-top: 10px;
	font-size: 16px;
	line-height: 35px;
}

.footer-center {
	height: 100%;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
}

.footer-center ul li {
	text-align: center;
	font-size: 16px;
	line-height: 55px;
}
.footer-center ul li a {
	color: #666666;
}

.footer-right {
	font-size: 16px;
	line-height: 35px;
}

.footer-right .contact {
	/*padding-left: 50px;*/
}


/* 品牌服务 services.html */
.service {
	padding: 30px 0 50px 0;
}

.item-block {
	height: 250px;
	margin: 20px 0;
	border: 1px solid #ECECEC;
	background-color: #9DC1D5;
}

.item-block ul li {
	font-size: 15px;
	height: 35px;
	line-height: 35px;
}


/* 经典案例 case.html */

.case {
	margin-top: 30px;
	padding: 30px 0 50px 0;
}

.case img, .case img:hover {
	border: 1px solid #BDBDBD;
	cursor: pointer;
}

/*.case p {
	height: 45px;
	line-height: 45px;
	font-size: 25px;
}*/

/* 核心团队 term.html */



/* 联系我们 contact.html */
.contact-content {

	padding: 50px 0;
}
.leave-message {
	float:left;
	margin-bottom: 200px;
}

.leave-message p {
	font-size: 25px;
	padding: 25px 0;
}

.contact-info {
	float:left;
}
.contact-info p.title {
	font-size: 25px;
	padding: 25px 0;
}
.contact-info dl {
	font-size: 16px;
}
.contact-info dl dt, .contact-info dl dd {
	height: 35px;
	line-height: 35px;
}
















